/* shared styles */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.primary-color {
  color: #e95a08;
}
.btn-primary {
  width: 270px;
  height: 50px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  background-color: #e95a08;
  border: none;
}
/* header styles */
/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.navbar-img {
}
.navbar-links {
  display: flex;
  justify-content: space-between;
}
.link {
  list-style: none;
  margin-right: 35px;
}
.navbar .navbar-links .link a {
  text-decoration: none;
  color: #252432;
}
.navbar .navbar-links .link:nth-child(1) {
  font-weight: 700;
}

/* banner styles */
.banner {
  display: flex;
  align-items: end;
  margin-top: 120px;
}
.banner-content-tile {
  font-size: 4.06rem;
  font-weight: 700;
}
.banner-content-subtitle {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}

/* main styles */
/* our plant styles */
.our-plant {
  /* margin-top: 250px;  unsolved*/
}
.our-plant-content {
  text-align: center;
  margin-top: 120px;
}
.our-plant-title {
  font-size: 3.125rem;
  font-weight: 700;
}
.our-plant-subtitle {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.our-plant-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 50px;
}
.our-plant-card {
  width: 270px;
  height: 480px;
  text-align: center;
}
.card-img {
  height: 320px;
}
.card-title {
  font-size: 1.3rem;
  font-weight: 500;
}
.card-money {
  font-size: 1.3rem;
  font-weight: 700;
}

/* responsive mobile */
@media screen and (max-width: 576px) {
  .display-none {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  /* our plant sec */
  .our-plant-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 5px;
  }
  .our-plant-card img {
    width: 100%;
  }
}
