/* shared styles */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.primary-color {
  color: #e95a08;
}
.btn-primary {
  width: 270px;
  height: 50px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  background-color: #e95a08;
  border: none;
}
/* header styles */
/* navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.navbar-img {
}
.navbar-links {
  display: flex;
  justify-content: space-between;
}
.link {
  list-style: none;
  margin-right: 35px;
}
.navbar .navbar-links .link a {
  text-decoration: none;
  color: #252432;
}
.navbar .navbar-links .link:nth-child(1) {
  font-weight: 700;
}

/* banner styles */
.banner {
  display: flex;
  align-items: end;
  margin-top: 120px;
}
.banner-content-tile {
  font-size: 4.06rem;
  font-weight: 700;
}
.banner-content-subtitle {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}

/* main styles */
/* our plant styles */
.our-plant {
  /* margin-top: 250px;  unsolved*/
}
.our-plant-content {
  text-align: center;
  margin-top: 120px;
}
.our-plant-title {
  font-size: 3.125rem;
  font-weight: 700;
}
.our-plant-subtitle {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
.our-plant-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 50px;
}
.our-plant-card {
  width: 270px;
  height: 480px;
  text-align: center;
}
.card-img {
  height: 320px;
}
.card-title {
  font-size: 1.3rem;
  font-weight: 500;
}
.card-money {
  font-size: 1.3rem;
  font-weight: 700;
}

/* plant lover sec */
.plant-lover {
  display: flex;
  gap: 50px;
  margin-top: 150px;
}
.plant-lover-image {
  width: 50%;
}
.plant-lover-image img:nth-child(1) {
  width: 540px;
  height: 600px;
}
.plant-lover-image img:nth-child(2) {
  width: 280px;
  height: 280px;
  transform: translateX(350px) translateY(-720px);
}
.plant-lover-content {
  width: 50%;
  margin: 40px auto;
}
.plant-lover-title {
  font-size: 3.125rem;
  font-weight: 700;
}
.plant-lover-list {
  font-size: 1.3rem;
  margin-top: 20px;
}

/* best deal sec */
.best-deal {
}
.best-deal-content {
  margin-bottom: 120px;
}
.best-deal-title {
  font-size: 3.125rem;
  font-weight: 700;
  text-align: center;
}
.latest {
  color: #e95a08;
}
.best-deal-description {
  margin: 0 auto;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  width: 65%;
}
.best-deal-img {
  display: flex;
  gap: 0px;
  /* margin-bottom: 150px; */
}
.best-deal-img-left {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 30%;
  margin-top: 5px;
}
.best-deal-img-left img {
  border-radius: 20px;
  width: 320px;
  height: 190px;
}
.best-deal-img-right {
  width: 70%;
}
.best-deal-img-right img {
  border-radius: 20px;
}
.para-1 {
  transform: translateX(90px) translateY(-350px);
}
.para-2 {
  transform: translateX(-180px) translateY(-130px);
}
.best-deal-img-para {
  display: flex;
}
.para-1,
.para-2 {
  text-align: center;
  width: 270px;
  height: 80px;
  color: white;
}
.para-1 h3,
.para-2 h3 {
  font-size: 1.25rem;
  font-weight: 700;
  /* color: white; */
}
.para-1 a,
.para-2 a {
  font-weight: 600;
  color: white;
}
.para-3 {
  width: 500px;
  height: 100px;
  text-align: center;
  transform: translateX(-1px) translateY(-270px);
  color: white;
}
.para-3 h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
.para-3 a {
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
}

/* responsive mobile */
@media screen and (max-width: 576px) {
  .display-none {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
  }
  /* our plant sec */
  .our-plant-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 5px;
  }
  .our-plant-card img {
    width: 100%;
  }
  /* plant lover sec */
  .plant-lover {
    flex-direction: column;
  }
  .plant-lover-image {
    width: 100%;
  }
  .plant-lover-image img:nth-child(1) {
    margin-left: 6px;
    margin-right: 0;
    width: calc(100%-6px);
  }
  .plant-lover-content {
    margin: 25px 5px 0;
    margin-bottom: 200px;
    width: 545px;
  }
  /* .plant-lover-ul {
    list-style: circle;
  } */

  /* best deals */
  .best-deal-description {
    text-align: center;
    width: 100%;
  }
  .best-deal-img {
    flex-direction: column;
    gap: 25px;
  }
  .best-deal-img-left {
    gap: 35px;
    width: 90%;
    margin: 5px auto;
  }
  .best-deal-img-left img {
    border-radius: 20px;
    width: 320px;
    height: 210px;
    width: 100%;
    /* margin: 0 auto; */
  }
  .best-deal-img-right {
    width: 90%;
    margin: 5px auto;
  }
  .best-deal-img-right img {
    width: 100%;
  }
  .para-1 {
    transform: translateX(200px) translateY(-720px);
  }
  .para-2 {
    transform: translateX(60px) translateY(-480px);
  }
  .para-3 {
    transform: translateX(-140px) translateY(-230px);
  }
}
